<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MyChat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!-- <script src='main.js'></script> -->
</head>
<body>

    <main>
        <section id="form-container">

            <img id="logo" src="images/chat-icon.png"/>

            <div id="welcome-message">
            <h1>Assalomu aleykum! Online chatga xushkelibsiz!!!</h1>
            <p>Ushbu chatda guruh bo'lib video qo'ng'iroqni amalga oshirishingiz munkin!</p>
        </div>

        <form id="form">
            <div class="field-wrapper">

                <div class="form-field">
                    <label>Guruh:</label>
                    <input name="room" placeholder="Guruh nomini kiriting..."  style="text-transform:uppercase"/>
                </div>

                <div class="form-field">
                    <label>Ismingiz:</label>
                    <input name="name" placeholder="Ismingizni kiriting..."  style="text-transform:uppercase"/>
                </div>

                <div class="form-field">
                    <input type="submit" value="Video aloqani boshlash!" />
                </div>
            </form>
        </section>
    </main>
    
</body>
</html>