{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<main>

    <section id="form-container">

        <img id="logo" src="{% static 'images/chat-icon.png' %}"/>

        <div id="welcome-message">
            <h1>Assalomu aleykum! Online chatga xushkelibsiz!!!</h1>

                     <p>Ushbu chatda guruh bo'lib video qo'ng'iroqni amalga oshirishingiz munkin!</p>
        </div>

        <form id="form">
            <div class="field-wrapper">

                <div class="form-field">
                    <label>Guruh:</label>
                    <input name="room" placeholder="Guruh nomini kiriting..." style="text-transform:uppercase"/>
                </div>

                <div class="form-field">
                    <label>Ismingiz:</label>
                    <input name="name" placeholder="Ismingizni kiriting..."  style="text-transform:uppercase"/>
                </div>

                <div class="form-field">
                    <input type="submit" value="Video aloqani boshlash!!!" />
                </div>

            </div>
        </form>
    <p style="font-size:5px ; margin-left: 320px ;margin-top: -18px" > © Shaxobiddin</p>

    </section>
</main>

<script>
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value.toUpperCase()
        let name = e.target.name.value

        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()

        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('name', name)

        window.open('/room/', '_self')
    }



    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}

